.rotate
{
  width: 150px;
  height: 150px;
  margin: 50px 0 0 50px;
  background: dodgerblue;
  border-radius: 50%;
  border: 2px solid black;
  animation: spinner 2s infinite linear;
  perspective: 500px;
  transform-style: preserve-3d;
}

@keyframes spinner {
  0% { transform: rotate3d(1, 1, 1, 0deg); }
  50% { transform: rotate3d(1, 1, 1, 180deg); }
  100% { transform: rotate3d(1, 1, 1, 360deg); }
}

.loaderContainer {    
  display: flex;
  justify-content: center;
  align-items: center;
}